@media screen and (min-width: $breakpoint) {
    .layout-container {
        &.layout-static {
            .layout-sidebar {
                transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1);
            }

            .layout-content-wrapper {
                margin-left: 16rem;
                transition: margin-left 0.3s cubic-bezier(0, 0, 0.2, 1);
            }
        }

        &.layout-static-inactive {
            .layout-sidebar {
                transform: translateX(-100%);
            }
            .topbar-start {
                padding: 0 1.15rem 0 0.85rem;
            }
            .layout-content-wrapper {
                margin-left: 0;
            }
        }

        &.layout-overlay {
            .layout-content-wrapper {
                margin-left: 0;
            }
            .topbar-start {
                padding: 0 1.15rem 0 0.85rem;
            }

            .layout-sidebar {
                z-index: 999;
                transform: translateX(-100%);
                transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1);
            }

            &.layout-overlay-active {
                .layout-sidebar {
                    transform: translateX(0);
                }
            }
        }

        .content-breadcrumb {
            display: none;
        }
    }
}

@media screen and (max-width: ($breakpoint - 1)) {
    .blocked-scroll {
        overflow: hidden;
    }

    .layout-container {
        .layout-content-wrapper {
            margin-left: 0;
            padding: 1rem;
        }

        .layout-sidebar {
            z-index: 999;
            transform: translateX(-100%);
            transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1);
            box-shadow: none;
            .layout-menu-container {
                overflow: auto;
            }
        }

        .layout-topbar {
            .topbar-start {
                padding-left: 1.15rem;
            }
        }

        &.layout-mobile-active {
            .layout-sidebar {
                transform: translateX(0);
            }

            .layout-mask {
                display: block;
                animation: fadein var(--transition-duration);
            }
        }

        .layout-mask {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 998;
            width: 100%;
            height: 100%;
            background-color: var(--maskbg);
        }

        .topbar-breadcrumb {
            display: none;
        }

        .content-breadcrumb {
            display: block;
        }
    }
}

@media screen and (min-width: 1960px) {
    .layout-content,
    .landing-wrapper {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .layout-topbar {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}
