$primaryColor: #69b7ff !default;
$primaryLightColor: rgba($primaryColor, 0.5) !default;
$primaryLighterColor: rgba($primaryLightColor, 0.1);
$primaryDarkColor: #5297ff !default;
$primaryDarkerColor: #297fff !default;
$primaryTextColor: #293241 !default;

@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';
