$primaryColor: #6366f1 !default;
$primaryLightColor: #b1b3f8 !default;
$primaryLighterColor: rgba($primaryLightColor, 0.1);
$primaryDarkColor: #4f46e5 !default;
$primaryDarkerColor: #4338ca !default;
$primaryTextColor: #ffffff !default;

@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';
