$primaryColor: #a5b4fc !default;
$primaryLightColor: rgba($primaryColor, 0.5) !default;
$primaryLighterColor: rgba($primaryLightColor, 0.1);
$primaryDarkColor: scale-color($primaryColor, $lightness: -5%) !default;
$primaryDarkerColor: scale-color($primaryColor, $lightness: -10%) !default;
$primaryTextColor: #293241 !default;

@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';
