$primaryLightColor: #d7e291;
$primaryColor: #aec523;
$primaryDarkColor: #8a9d16;
$primaryDarkerColor: #7d8e12;
$primaryTextColor: #293241;
$primaryLighterColor: rgba($primaryLightColor, 0.1);

@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';
