on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+-b[0-9]+'

name: Create Jeffrey Artifact

jobs:
  build:

    runs-on: ubuntu-latest
    container:
      image: petrbouda/jeffrey-builder

    permissions: write-all

    steps:
    - uses: actions/checkout@v4

    - name: Extract version
      id: version
      run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT

    - name: Build with Maven
      env:
        JEFFREY_TAG_VERSION: ${{ steps.version.outputs.VERSION }}
      run: mvn clean package

    - name: Archive production artifacts - Application
      uses: actions/upload-artifact@v4
      with:
        name: jeffrey.jar
        path: ./build/build-app/target/jeffrey.jar

    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        name: Jeffrey ${{ steps.version.outputs.VERSION }}
        body: Release ${{ steps.version.outputs.VERSION }}
        files: ./build/build-app/target/jeffrey.jar
        draft: false
        prerelease: false
